@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Righteous&display=swap');
@import "tailwindcss";

@theme {
    --font-righteous: "Righteous", sans-serif;
    --font-geologica: "Geologica", sans-serif;
}

:root {
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #0C0C0C;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.electric-border {
  position: relative;
  overflow: visible;
}
.electric-border canvas {
  mix-blend-mode: screen;
}

body, html {
  cursor: none !important;
}